.review-heading h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.review-heading p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 90px;
    gap: 15px;
}

.review-main-sub{
    margin: 40px;
    padding: 40px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review-main-sub button{
    height: 30px;
    background-color: rgb(202, 133, 180);
    color: white;
    border: none;
}



