.hero{
    height: 100vh;
    background: linear-gradient(180deg, rgb(245, 202, 245), rgb(245, 226, 230) 60%);
    display: flex;
    overflow: hidden;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}


.hero-left h2{
    color: rgb(39, 20, 57);
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: rgb(63, 32, 91);
    font-size: 60px;
    font-weight: 700;
}

.hero-latest-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-latest-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #c6339a;
    outline: none;
    border: #c6339a;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
}

