.descriptionbox{
    margin: 120px 170px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    height: 70px;
    gap: 200px;
    color: rgb(201, 45, 157);
}

.descriptionbox-nav-box .fade{
    background: #FBFBFB;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 48PX;
    padding-bottom: 70PX;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(204, 237, 220);
}


@media(max-width:1280px){
    .descriptionbox{
        margin: 60px;
    }
}

@media(max-width:800px){
    .descriptionbox{
        margin: 60px 20px;
    }

    .descriptionbox-description{
        font-size: 14px;
    }
}